.masthead {
	position: relative;
	width: 100%;
	height: 100%;
	/* min-height: 35rem; */
	padding: 15rem 0;
	/*background: url("https://images.pexels.com/photos/414645/pexels-photo-414645.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"rl("https://images.pexels.com/photos/414645/pexels-photo-414645.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");*/
	background: url("https://s3.us-east-2.amazonaws.com/shikdernyc-portfolio/background.jpeg");
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-size: cover;
}

.masthead h2 {
	max-width: 20rem;
	font-size: 2rem;
	/*background: linear-gradient(to bottom, rgba(22, 22, 22, 0.1) 0%, rgba(22, 22, 22, 0.5));*/
	/* -webkit-text-fill-color: transparent; */
	-webkit-background-clip: text;
}

@media (min-width: 768px) {
	.masthead h1 {
	  font-size: 4rem;
	  line-height: 4rem;
	}
 }
  
@media (min-width: 992px) {
	.masthead {
	  height: 100vh;
	  padding: 0;
	}
	.masthead h1 {
	  font-size: 6.5rem;
	  line-height: 6.5rem;
	  letter-spacing: 0.8rem;
	}
	.masthead h2 {
	  max-width: 30rem;
	  font-size: 2.5rem;
	}
}

#avatar{
		width: 35%;
		border-radius: 50%;
}