body {
  margin: 0;
  padding: 0;
  /*color: white;*/
    /*font-family: 'Nunito';*/
  font-family: Corbel, "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", "Bitstream Vera Sans", "Liberation Sans", Verdana, "Verdana Ref", sans-serif;
  line-height: 1.7em;
}

h1, h2, h3, h4, h5{
    font-family: 'Varela Round';
}

#about{
  /*background-color: #d7d8db*/
}