.nav-dark{
    background-color: #343a40!important;
    transition: 0.5s background-color;
}

.nav-transparent{
    background-color: transparent!important;
    transition: 0.5s background-color;
}

#nav{
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
}

@media screen and (max-width: 600px) {
    responsive {
        /*float: none;*/
        display: block;
        text-align: left;
    }
}