.overlay {  
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 2;
    opacity: 0;
    background: rgba(39, 42, 43, 0.8);
    transition: opacity 200ms ease-in-out;
    /* border-radius: 4px; */
    height: 100%;
    margin: 0;
}

.overlay:hover{
    opacity: 1;
}

@media only screen and (max-width: 600px)  {
	.overlay{
		font-size: 0.75em;
		line-height: 1em
	}
}